
/********
 This CSS file is for demonstration only. You should delete it before you push your site to production
********/

.demo__img {
    box-shadow: var(--shadow-md);
}
.demo__heading {
    margin: 1.5rem 0;
}

.demo {
    li {
        display: none;
        font-size: 2rem;
        font-weight: bold;
        &:first-child {
            display: block;
        }
    }
    span {
        color: var(--color-accent);
        &.highlight {
            background: linear-gradient(var(--color-accent-light), var(--color-accent-light));
            background-size: 100% 100%;
            color: var(--color-base);
            font-weight: 500;
            padding: 0 .5rem;
        }
    }
}

// mobile landscape: > 640px
@media (min-width: 640px) {
    .demo {
        li.mobile {
            display: none;
        }
        li.mobile-landscape {
            display: block;
        }
    }
}

// tablet portrait: > 768px
@media (min-width: 768px) {
    .demo {
        li.mobile-landscape {
            display: none;
        }
        li.tablet-portrait {
            display: block;
        }
    }
}

// tablet landscape: > 1024px
@media (min-width: 1024px) {
    .demo {
        li.mobile {
            display: none;
        }
        li.tablet-portrait {
            display: none;
        }
        li.tablet-landscape {
            display: block;;
        }
    }
}

// laptop/desktop: > 1280px
@media (min-width: 1280px) {
    .demo  {
        li:nth-child(-n+4) {
            display: none;
        }
        li.laptop-desktop {
            display: block;;
        }
    }
}