// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;

//576
@mixin sm { @media (min-width: #{$screen-sm}) {@content;} }
//768
@mixin md { @media (min-width: #{$screen-md}) {@content;} }
//992
@mixin lg { @media (min-width: #{$screen-lg}) {@content;} }
//1200
@mixin xl { @media (min-width: #{$screen-xl}) {@content;} }


// TEXT TRUNCATE
@mixin truncate-text($overflow: ellipsis) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: $overflow;
}

// PX TO REM: ex @include font-size(18)
@mixin font-size($size, $base: 16) {
    font-size: $size; // fallback for old browsers
    font-size: ($size / $base) * 1rem;
}

// CENTERING:
// usage: .child { @include center(both); }
// parent div must have position relative;
@mixin center($position) {
    position: absolute;

    @if $position == 'vertical' {
      top: 50%;
      transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
      left: 50%;
      transform: translate(-50%);
    }
    @else if $position == 'both' {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

// PSEUDO
// usage: .title::before { @include pseudo() }
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}