:root {
    --color-accent: hsl(232, 47%, 56%);
    --color-accent-light: hsla(232, 47%, 70%, .2);
    --color-base: #000;
    --color--dark: #111;
    --color-link: hsla(212, 97%, 43%);
    --color-light: #888;
    --color-white: #fff;
    --font-sans: Inter;
    --radius: 5px;
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 8px 24px rgba(0, 0, 0, .1);
    --shadow-md: 0 1px 8px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
    --site-width: 800px;
}