@import 'variables.scss';
@import 'mixins.scss';

html {
    font-family: var(--font-body), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    font-weight: 400;
}
a {
    color: var(--color-base);
    text-decoration: none;
}
img {
    width: 100%;
}

p {
    @include font-size(16);
    line-height: 1.5;
    margin: 14px 0 16px;
}

// buttons
button {
    background: transparent;
    border: 0;
    cursor: pointer;
}
.btn {
    border-radius: var(--radius);
    font-size: .75rem;
    letter-spacing: .6px;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    &--primary {
        background-color: var(--color-primary);
        color: #fff;
    }
    &--secondary {
       background-color: var(--color-secondary);
       color: #fff;
    }
}

// hide skip to content link
a.skip-link {
    position: fixed;
    top: -30em;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: var(--color-accent);
    color: #fff;
    padding: .5em 1em;
    font-size: 1em;
    text-align: center;
    transition: top .1s linear;
}

.container {
    padding: 0 16px;
    @include md {
        max-width: var(--site-width);
        margin: 0 auto;
    }
}

.main-header {
    margin: 1rem 0 1.75rem 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .brand {
        img {
            max-width: 150px;
        }
    }
    h1 {
        color: var(--color-base);
        @include font-size(40);
        font-weight: 700;
    }
}

// main nav
.main-nav {
    display: none;
    @include md {
        display: block;
    }
    &__list {
        display: flex;
    }
    &__item {
        a {
            font-size: .85rem;
            padding: .5rem .75rem;
            text-transform: uppercase;
            transition: all 300ms;
            &:hover {
                color: var(--color-primary);
            }
        }
    }
}
.utilities-btns {
    display: flex;
    li {
        margin-left: .5rem ;
    }
}

// sections
section {
    padding: 2rem 0;
    header {
        @include md {
            margin-left: 4rem;
        }
    }
    h2 {
        font-family: var(--font-title);
        font-size: 1.75rem;
        letter-spacing: .8px;
        line-height: 38px;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
}
.section {
    &-wrapper {
        background-color: var(--color-secondary);
        color: #fff;
        padding: 2rem 4rem;
    }
    &__text {
        font-weight: normal;
    }
}


// hero
.main-hero {
    background-color: var(--color-brown-light);
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 0;
    margin-top: -95px;
    overflow: hidden;
    &__content {
        display: flex;
        flex-direction: column;
        @include md {
            flex-direction: row-reverse;
            align-items: center;
            margin-right: 2rem;
            padding-bottom: 3rem;
        }
    }
    &__photo {
        img {
            @include md {
                max-width: 250px;
            }
        }
    }
    h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 38px;
    }
    &__body {
        margin: 1rem 0 2rem;
        @include md {
            max-width: 70%;
        }
    }
}

// section: steps/how-it-works
.steps {
    @include md {
        margin-top: -130px;
        position: relative;
        z-index: 2;
    }
    &__content {
        background-color: var(--color-secondary);
        color: #fff;
        padding: 1rem;
        @include md {
            padding: 2rem 4rem;
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        @include md {
            flex-direction: row;
            justify-content: space-between;
        }
        &__item {
            background-color: var(--color-brown-light);
            color: #000;
            margin-bottom: 0.75rem;
            text-align: center;
            @include md {
                flex: 0 1 calc(33% - 0.5rem);
                max-width: 33.333333%;
            }
            &-icon img {
                max-width: 60px;
            }
            &-body {
                flex: 1 1 auto;
                padding: 3rem 2rem;
            }
            &-title {
                font-size: 1.125rem;
                font-weight: 700;
                margin: 1.5rem 0;
            }
            &-text {
                line-height: 22px;
            }
        }
    }
}


// section: boxes
.boxes {
    &-list {
        display: flex;
        justify-content: space-between;
        &__item {
            flex: 0 1 calc(50% - .5rem);
            max-width: 50%;
            &-body {
                padding: 0.125rem .5rem;
            }
            &-photo {
                border: 1px solid var(--color-primary);
                margin-bottom: 1rem;
                height: 350px;
                // &--primary {
                //     background-color: var(--color-primary);
                //     height: 350px;
                //     width: 100%;
                // }
            }
            h4 {
                font-weight: 700;
            }
            p {
                margin: .5rem 0;
            }
            .price__amount {
                font-weight: 700;
            }
            .price__shipping {
                color: #444;
                font-size: .75rem;
            }
        }
    }
}

// section: subscribe
.subscribe {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include md {
            flex-direction: row;
        }
    }
    &__photo {
        margin-bottom: 1rem;
        @include md {
            flex: 0 1 calc(50% - .5rem);
            order: 2;
        }
    }
    &__body {
        @include md {
            flex: 0 1 calc(50% - .5rem);
            order: 1;
            text-align: center;
        }
    }
    h2 {
        background-image: linear-gradient(to bottom, transparent 98%, #000 2%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 100%;
        padding-bottom: 0.5rem;
    }
}

// main footer
.main-footer {
    margin: 2rem 0;
}
