@import 'variables.scss';
@import 'mixins.scss';

html {
    font-family: $font-body, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    font-weight: 400;
}
a {
    color: #000;
    text-decoration: none;
    transition: all 200ms;
}
a:focus,
button:focus {
    outline: 3px dotted #000;
}

img {
    width: 100%;
}

p {
    @include font-size(16);
    line-height: 1.5;
    margin: 14px 0 16px;
}

// buttons
button {
    background: transparent;
    border: 0;
    cursor: pointer;
}
.btn {
    border-radius: var(--radius);
    font-size: .75rem;
    letter-spacing: .6px;
    padding: .75rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    &--primary {
        background-color: var(--color-primary);
        color: #fff;
        transition: all 200ms;
        &:hover {
            background-color: #4db6ac;
        }
    }
    &--secondary {
       background-color: var(--color-secondary);
       color: #fff;
       transition: all 200ms;
        &:hover {
            background-color: #bd4543;
        }
    }
}

.bg {
    &--beige {
        background-color: var(--color-beige);
        color: #000;
    }
}

// hide skip to content link
a.skip-link {
    position: fixed;
    top: -30em;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: var(--color-accent);
    color: #fff;
    padding: .5em 1em;
    font-size: 1em;
    text-align: center;
    transition: top .1s linear;
}

.container {
    @include lg {
        max-width: 980px;
    }
}

.row {
  margin-top: -15px;
}
[class^='col'], [class*=' col'] {
  margin-top: 15px;
}

#main:focus {
    outline: 0;
}

.main-header {
    margin: 1rem 0 1.75rem 0;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        img {
            max-width: 150px;
        }
    }
    h1 {
        color: #000;
        @include font-size(40);
        font-weight: 700;
    }
}

// main nav
.main-nav {
    display: none;
    @include md {
        display: block;
    }
    &__list {
        display: flex;
    }
    &__item {
        @include md {
            font-size: .85rem;
            text-transform: uppercase;
            padding: .5rem 0;
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            transition: all 300ms;
            &:hover {
                color: var(--color-primary);
            }
        }
    }
}
.actions {
    display: flex;
    justify-content: space-between;
    &__list {
        display: none;
        @include md {
            display: flex;
            align-items: center;
        }
    }
    &__item {
        margin-right: .75rem ;
    }
}
// cart
.cart {
    a {
        display: block;
        position: relative;
    }
    &:hover &__count {
        background-color: var(--color-secondary);
    }
    &__icon img {
        width: auto;
        max-height: 30px;
    }
    &__count {
        background-color: var(--color-primary);
        color: #fff;
        padding: .5rem;
        border-radius: 100%;
        width: 18px;
        height: 18px;
        font-size: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -6px;
        right: -6px;
    }
}

// sections
section {
    padding: 1rem 0;
    h2 {
        font-family: $font-title,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.75rem;
        letter-spacing: .8px;
        line-height: 38px;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
}
.section {
    &-header--shifted {
        @include md {
            margin-left: 4rem;
        }
    }
    &--yellow {
        background-color: var(--color-yellow);
    }
}

// card
.card {
    &__link {
        display: block;
    }
    &__body {
        flex: 1 1 auto;
        padding: 1.5rem;
    }
    &__title {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 1rem;
        transition: all 200ms;
    }
    &--beige {
        background-color: var(--color-beige);
        color: #000;
    }
    &--primary {
        border: 1px solid var(--color-primary);
        a:hover h4 {
            color: var(--color-primary);
        }
    }
    &--secondary {
        border: 1px solid var(--color-secondary);
        a:hover h4 {
            color: var(--color-secondary);
        }
    }
    &--icon {
        padding: 3rem 0 1rem;
        text-align: center;
        img {
            max-width: 60px;
        }
    }
    p {
        margin-top: 0;
    }
}

// features/how it works
.feature {
    padding: 3rem 0 1rem;
    text-align: center;
    img {
        max-width: 60px;
    }
    &__link {
        display: block;
    }
    &__body {
        flex: 1 1 auto;
        padding: 1.5rem;
    }
    &__title {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 1rem;
        transition: all 200ms;
    }
    p {
        margin-top: 0;
    }
    &--beige {
        background-color: var(--color-beige);
        color: #000;
    }
}

// hero
.hero {
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 0;
    margin-top: -95px;
    overflow: hidden;
    .row {
        align-items: center;
    }
    &__photo {
        img {
            @include md {
                max-width: 250px;
            }
        }
    }
    h1 {
        font-size: 2.125rem;
        font-weight: 700;
        line-height: 1.2;
    }
    &__body {
        margin: 1rem 0 2rem;
    }
}

// section: how-it-works/features
.features {
    @include md {
        margin-top: -100px;
        position: relative;
        z-index: 2;
    }
    &__inner {
        background-color: var(--color-secondary);
        color: #fff;
        padding: 1rem;
        @include md {
            padding: 2rem 3rem;
        }
    }
}

// section: subscribe
.subscribe {
    &__body {
        @include md {
            text-align: center;
        }
    }
    &__title {
        background-image: linear-gradient(to bottom, transparent 98%, #000 2%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 100%;
        padding-bottom: 0.5rem;
    }
}

// section: cta
.cta {
    padding: 1rem 0;
    .row {
        align-items: center;
        justify-content: center;
        > div {
            margin-bottom: 1rem;
            @include md {
                margin-bottom: 0;
            }
        }
    }
    p {
        margin: 0 0 .5rem;
        @include md {
            margin: 0;
        }
    }
}

// main footer
.main-footer {
    background-color: #f6f6f6;
    font-size: .875rem;
    padding: 1rem 0;
    a {
        padding: 0.25rem 0;
        &:hover {
            text-decoration: underline;
        }
    }
    li {
        padding: 0 0 .75rem 0;
    }
    .contact {
        &__logo {
            margin-bottom: 0.75rem;
            img {
                max-width: 100px;
            }
        }
        &__body p {
            font-size: .875rem;
            line-height: 24px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__menu,
    &__social-links {
        padding-top: 45px;
    }
    &__social-links {
        display: flex;
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
        li {
            margin-right: .75rem;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: var(--color-secondary);
                @include md {
                    padding: .75rem;
                }
                &:hover {
                    color: var(--color-primary);
                    text-decoration: none;
                }
            }
        }
    }
    &__bottom {
        border-top: 1px solid #ccc;
        margin-top: 2rem;
        padding: 1rem 0;
    }
}
