:root {
  --color-primary: #00a99d;
  --color-secondary: #ef5652;
  --color-yellow: #fdec57;
  --color-beige: #f6ecdb;
  --radius: 5px;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 8px 24px rgba(0, 0, 0, .1);
  --shadow-md: 0 1px 8px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1); }

html {
  font-family: Comfortaa, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px; }

body {
  font-weight: 400; }

h1 {
  margin-bottom: .5rem; }

a {
  color: #000;
  text-decoration: none; }

a:focus,
button:focus {
  outline: 3px dotted #000; }

img {
  width: 100%; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem; }

button {
  background: transparent;
  border: 0;
  cursor: pointer; }

.btn {
  border-radius: var(--radius);
  display: inline-block;
  font-size: .75rem;
  letter-spacing: .6px;
  padding: .75rem 1.5rem;
  text-align: center;
  text-transform: uppercase; }
  .btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    transition: background-color 200ms; }
    .btn--primary:hover {
      background-color: #4db6ac; }
  .btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
    transition: background-color 200ms; }
    .btn--secondary:hover {
      background-color: #bd4543; }

.bg--beige {
  background-color: var(--color-beige);
  color: #000; }

a.skip-link {
  position: fixed;
  top: -30em;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: var(--color-accent);
  color: #fff;
  padding: .5em 1em;
  font-size: 1em;
  text-align: center;
  transition: top .1s linear; }

@media (min-width: 992px) {
  .container {
    max-width: 980px; } }

.row {
  margin-top: -15px; }

[class^='col'], [class*=' col'] {
  margin-top: 15px; }

#main:focus {
  outline: 0; }

.main-header {
  margin: 1rem 0 1.75rem 0; }
  .main-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .main-header .logo img {
    max-width: 150px; }
  .main-header h1 {
    color: #000;
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 700; }

.main-nav {
  display: none; }
  @media (min-width: 768px) {
    .main-nav {
      display: block; } }
  .main-nav__list {
    display: flex; }
  @media (min-width: 768px) {
    .main-nav__item {
      font-size: .85rem;
      text-transform: uppercase;
      padding: .5rem 0;
      margin-right: 2rem; }
      .main-nav__item:last-child {
        margin-right: 0; } }
  .main-nav__item a {
    transition: color 300ms; }
    .main-nav__item a:hover {
      color: var(--color-primary); }

.actions {
  display: flex;
  justify-content: space-between; }
  .actions__list {
    display: none; }
    @media (min-width: 768px) {
      .actions__list {
        display: flex;
        align-items: center; } }
  .actions__item {
    margin-right: .75rem; }

.cart a {
  display: block;
  position: relative; }

.cart:hover .cart__count {
  background-color: var(--color-secondary); }

.cart__icon img {
  width: auto;
  max-height: 30px; }

.cart__count {
  background-color: var(--color-primary);
  color: #fff;
  padding: .5rem;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  font-size: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -6px; }

section {
  padding: 1rem 0; }
  section h2 {
    font-family: Anton, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.75rem;
    letter-spacing: .8px;
    line-height: 38px;
    margin-bottom: 1rem;
    text-transform: uppercase; }

@media (min-width: 768px) {
  .section-header--shifted {
    margin-left: 4rem; } }

.section--yellow {
  background-color: var(--color-yellow); }

.card__link {
  display: block; }

.card__body {
  flex: 1 1 auto;
  padding: 1.5rem; }

.card__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
  transition: color 200ms; }

.card--beige {
  background-color: var(--color-beige);
  color: #000; }

.card--primary {
  border: 1px solid var(--color-primary); }
  .card--primary a:hover h4 {
    color: var(--color-primary); }

.card--secondary {
  border: 1px solid var(--color-secondary); }
  .card--secondary a:hover h4 {
    color: var(--color-secondary); }

.card p {
  margin-top: 0; }

.feature {
  padding: 1.5rem; }
  .feature__link {
    display: block; }
  .feature img {
    max-width: 60px; }
  .feature h4 {
    margin-top: 1.5rem; }
  .feature__body {
    flex: 1 1 auto; }
  .feature__title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
    transition: all 200ms; }
  .feature p {
    margin-top: 0; }
  .feature--beige {
    background-color: var(--color-beige);
    color: #000; }

.hero {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 0;
  margin-top: -95px;
  overflow: hidden; }
  .hero .row {
    align-items: center; }
  @media (min-width: 768px) {
    .hero__photo img {
      max-width: 250px; } }
  .hero h1 {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.2; }
  .hero__body {
    margin: 1rem 0 2rem; }

@media (min-width: 768px) {
  .features {
    margin-top: -100px;
    position: relative;
    z-index: 2; } }

.features__inner {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 1rem; }
  @media (min-width: 768px) {
    .features__inner {
      padding: 2rem 3rem; } }

.features .feature {
  text-align: center; }

.content-grid .row {
  align-items: center; }

.content-grid__body {
  margin-bottom: 1rem;
  text-align: center; }
  @media (min-width: 768px) {
    .content-grid__body {
      margin-bottom: 2rem;
      max-width: 80%; } }

.content-grid__title {
  background-image: linear-gradient(to bottom, transparent 97%, #000 3%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30% 100%;
  padding-bottom: 0.5rem; }

.cta {
  padding: 1rem 0; }
  .cta .row {
    align-items: center;
    justify-content: center;
    text-align: center; }
  .cta p {
    margin: 0 0 .5rem; }
    @media (min-width: 768px) {
      .cta p {
        margin: 0; } }
  .cta .btn {
    margin-top: -15px; }
    @media (min-width: 768px) {
      .cta .btn {
        margin-top: initial; } }

.main-footer {
  background-color: #f6f6f6;
  font-size: .875rem;
  padding: 1rem 0; }
  .main-footer a {
    padding: 0.25rem 0; }
    .main-footer a:hover {
      text-decoration: underline; }
  .main-footer li {
    padding: 0 0 .75rem 0; }
  .main-footer .contact__logo {
    margin-bottom: 0.75rem; }
    .main-footer .contact__logo img {
      max-width: 100px; }
  .main-footer .contact__body p {
    font-size: .875rem;
    line-height: 24px; }
    .main-footer .contact__body p:first-child {
      margin-top: 0; }
  @media (min-width: 768px) {
    .main-footer__menu, .main-footer__social-links {
      padding-top: 45px; } }
  .main-footer__social-links {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .main-footer__social-links {
        flex-direction: row; } }
    .main-footer__social-links li {
      margin-right: .75rem; }
      .main-footer__social-links li:last-child {
        margin-right: 0; }
      .main-footer__social-links li a {
        color: var(--color-secondary); }
        @media (min-width: 768px) {
          .main-footer__social-links li a {
            padding: .75rem; } }
        .main-footer__social-links li a:hover {
          color: var(--color-primary);
          text-decoration: none; }
  .main-footer__bottom {
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    padding: 1rem 0; }
