:root {
  --color-primary: #00a99d;
  --color-secondary: #ef5652;
  --color-yellow: #fdec57;
  --color-brown-light: #f6ecdb;
  --font-title: Anton;
  --font-body: Comfortaa;
  --radius: 5px;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 8px 24px rgba(0, 0, 0, .1);
  --shadow-md: 0 1px 8px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
  --site-width: 900px; }

html {
  font-family: var(--font-body), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px; }

body {
  font-weight: 400; }

a {
  color: var(--color-base);
  text-decoration: none;
  transition: all 200ms; }

img {
  width: 100%; }

p {
  font-size: 16;
  font-size: 1rem;
  line-height: 1.5;
  margin: 14px 0 16px; }

button {
  background: transparent;
  border: 0;
  cursor: pointer; }

.btn {
  border-radius: var(--radius);
  font-size: .75rem;
  letter-spacing: .6px;
  padding: .75rem 1.5rem;
  outline: none;
  text-transform: uppercase; }
  .btn:focus {
    border: 1px solid #000; }
  .btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    transition: all 200ms; }
    .btn--primary:hover {
      background-color: #000; }
  .btn--secondary {
    background-color: var(--color-secondary);
    color: #fff;
    transition: all 200ms; }
    .btn--secondary:hover {
      background-color: #a7312e; }

a.skip-link {
  position: fixed;
  top: -30em;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: var(--color-accent);
  color: #fff;
  padding: .5em 1em;
  font-size: 1em;
  text-align: center;
  transition: top .1s linear; }

.container {
  padding: 0 16px; }
  @media (min-width: 768px) {
    .container {
      max-width: var(--site-width);
      margin: 0 auto; } }

.main-header {
  margin: 1rem 0 1.75rem 0; }
  .main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .main-header .brand img {
    max-width: 150px; }
  .main-header h1 {
    color: var(--color-base);
    font-size: 40;
    font-size: 2.5rem;
    font-weight: 700; }

.main-nav {
  display: none; }
  @media (min-width: 768px) {
    .main-nav {
      display: block; } }
  .main-nav__list {
    display: flex; }
  .main-nav__item a {
    font-size: .85rem;
    padding: 0 .75rem;
    text-transform: uppercase;
    transition: all 300ms; }
    .main-nav__item a:hover {
      color: var(--color-primary); }

.utilities__list {
  display: flex; }
  .utilities__list li {
    margin-left: .5rem; }

section {
  padding: 2rem 0; }
  @media (min-width: 768px) {
    section header {
      margin-left: 4rem; } }
  section h2 {
    font-family: var(--font-title), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.75rem;
    letter-spacing: .8px;
    line-height: 38px;
    margin-bottom: 1rem;
    text-transform: uppercase; }

.hero {
  background-color: var(--color-brown-light);
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 0;
  margin-top: -95px;
  overflow: hidden; }
  .hero__content {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .hero__content {
        flex-direction: row-reverse;
        align-items: center;
        margin-right: 2rem;
        padding-bottom: 3rem; } }
  @media (min-width: 768px) {
    .hero__photo img {
      max-width: 250px; } }
  .hero h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 38px; }
  .hero__body {
    margin: 1rem 0 2rem; }
    @media (min-width: 768px) {
      .hero__body {
        max-width: 70%; } }

@media (min-width: 768px) {
  .steps {
    margin-top: -130px;
    position: relative;
    z-index: 2; } }

.steps__content {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 1rem; }
  @media (min-width: 768px) {
    .steps__content {
      padding: 2rem 4rem; } }

.steps-list {
  display: flex;
  flex-direction: column;
  padding-top: 1rem; }
  @media (min-width: 768px) {
    .steps-list {
      flex-direction: row;
      justify-content: space-between; } }
  .steps-list__item {
    background-color: var(--color-brown-light);
    color: #000;
    margin-bottom: 0.75rem;
    text-align: center; }
    @media (min-width: 768px) {
      .steps-list__item {
        flex: 0 1 calc(33% - 0.5rem);
        max-width: 33.333333%; } }
    .steps-list__item-icon img {
      max-width: 60px; }
    .steps-list__item-body {
      flex: 1 1 auto;
      padding: 3rem 2rem; }
    .steps-list__item-title {
      font-size: 1.125rem;
      font-weight: 700;
      margin: 1.5rem 0; }
    .steps-list__item-text {
      line-height: 22px; }

.boxes-list {
  display: flex;
  justify-content: space-between; }
  .boxes-list__item {
    flex: 0 1 calc(50% - .5rem);
    max-width: 50%; }
    a:hover .boxes-list__item-title {
      color: var(--color-secondary); }
    .boxes-list__item-body {
      padding: 0.125rem .5rem; }
    .boxes-list__item-photo {
      border: 1px solid var(--color-primary);
      margin-bottom: 1rem;
      height: 250px; }
      @media (min-width: 768px) {
        .boxes-list__item-photo {
          height: 350px; } }
    .boxes-list__item h4 {
      font-weight: 700;
      transition: all 200ms; }
    .boxes-list__item p {
      margin: .5rem 0; }
    .boxes-list__item .price__amount {
      font-weight: 700; }
    .boxes-list__item .price__shipping {
      color: #444;
      font-size: .75rem; }

.subscribe__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .subscribe__content {
      flex-direction: row; } }

.subscribe__photo {
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .subscribe__photo {
      flex: 0 1 calc(50% - .5rem);
      order: 2; } }

@media (min-width: 768px) {
  .subscribe__body {
    flex: 0 1 calc(50% - .5rem);
    order: 1;
    text-align: center; } }

.subscribe h2 {
  background-image: linear-gradient(to bottom, transparent 98%, #000 2%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 100%;
  padding-bottom: 0.5rem; }

.main-footer {
  margin: 2rem 0; }
